* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid red;
}

.list {
    border: 2px solid yellow;
}

button {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid blue;
}